@{
    ViewData["Title"] = "About";
}


<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"><em>About Me<em></h2>
		</div>
		<div class="panel-body">
			<p>I am an energetic and passionate person that enjoys continually learning and problem-solving.   I have a broad range of experience that includes:  management, operations, accounting,  sales, training & development and innovation change agent.  In addition to my full range of skills and experience, I continually strive to be the best colleague, employee, husband, and father  I can be. I find  that self-reflection and evaluation are some of my keys to moving forward in self-awareness development.</p>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"><em>Job Experience<em></h2>
		</div>
		<div class="panel-body">
			<ul>
				<li><u>CTO of InspectALL</u>, Jan 2017 to Present. Responsibilities include: Managing all current technologies and staff, implementation of all new applications and software development, all ERP, LMS, HRMS and field service software.</li>
				<li><u>Branch Manager Konecranes</u>, Mar 2010 to Dec 2016. Responsibilities include: Managing all branch personnel and five field office locations, sales, and operations management, KPI's (growth, profit, retention and safety)</li>
				<li><u>Director of Training Ace Industries</u>, Aug 2004 to Mar 2010. Responsibilities include: Study, formulation and improvement of Enterprise daily operations, manage knowledge and knowledge transfer through development and delivery of various Training Programs for the organization.</li>
				<li><u>Project Manager Midstate Security</u>, Apr 2001 to May 2004. Responsibilities include: Manage small satellite location with six employees, project manage all projects, schedule service personnel</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"><em>Education</em></h2>
		</div>
		<div class="panel-body">
			<ul>
				<li><span style="color:red">Walsh College School of Accountancy</span>, Bachelor's Degree, Business Administration and Management, 2000 to 2004 </li>
				<li><span style="color:red">Georgia State University</span>, Adavanced Accounting Courses: Tax, Auditing and Financial, 2007 to 2010</li>
				<li><span style="color: red">Epicodus</span>, .NET/#C Track (Inroduction to ProgrammingJavaScript, C# and .NET), Presently in the Program</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"><em>Skills</em></h2>
		</div>
		<div class="panel-body">
			<ol>
				<li>Operations and Execution: </li>
				<li>Sales & Marketing: </li>
				<li>Accounting & Finance: </li>
				<li>Technology & Software: </li>
				<li>Training and Knowledge Management: </li>
			</ol>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"><em>Interests & Hobbies<em></h2>
		</div>
		<div class="panel-body">
			<ul>
				<div class="col-md-4">
					<li>Spending time with my family</li>
					<li>Trail running, cycling and endurance sports </li>
					<li>Live music and outdoor concerts</li>
				</div>
				<div class="col-md-4">
					<li>Personal development and growth</li>
					<li>Technology, IOT, innovation, 3D printing</li>
					<li>Reading non-fiction books</li>
				</div>
				<div class="col-md-4">
					<li>Challenging Activities</li>
					<li>Spending time in Forest Park</li>
					<li>Vacationing in Sunriver</li>
				</div>
			</ul>

		</div>
	</div>

	<footer><p> <strong><a href="mailto:webmaster@example.com">irishdowd10@gmail.com</a> - 503-748-9409 - <a href="https://www.linkedin.com/in/john-dowd-a967b039/">linkedIn</a> </strong></p></footer>
</div>
