@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h3>
				If you wish to be out front, then act as if you were behind.”
				― Lao Tzu.
			</h3>
		</div>
		<div class="col-md-4">
			<img src="~/images/john.jpg" alt="john">
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
        </ul>
    </div>
</div>
