@{
    ViewData["Title"] = "Projects";
}

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	//ViewBag.Title = "Portfolio - Projects";
}
@using PortfolioDotNet.Models
@model List<Projects>

<div class="intro">
	<h3>Click the button below to see my most-starred projects on GitHub</h3>
	<form asp-controller="Projects" asp-action="GetProjects">
		<div class="show-projects">
			<input type="submit" class="btn" value="Get projects" />
		</div>
	</form>
</div>